{% extends 'base.html' %}

{% block content %}
<body>
  <div id="loading"></div>
  <div id="content">
  <div class=choose-movie>
    <h1>{% block title %} Soundtrack Generator {% endblock %}</h1>
    <h2>To start, select a movie: </h2>
  </div>
  <div class="select-movie">
    <form method="POST">
        <label for="movie_scene">Choose a scene:</label><br>
        <select name="movie_scene" id="movie_scene">
          {% for movie in movies %}
              <option value= "{{movie}}" SELECTED>{{movie}}</option>"
          {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit" onclick="spinner();">
        <div class="loader">
          <div class="loading">
          </div>
        </div>
      </form>
    </div>
    {% if chosen_movie is not none %}
    
    <iframe width="560" height="315" src="{{ chosen_movie['youtube_url'] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    {% endif %}

    {% if top_song_ids is not none %}
    
      {% for id in top_song_ids %}
        <iframe src="https://open.spotify.com/embed/track/{{ id }}" width="200" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      {% endfor %}
      <!-- <iframe src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->

      <!-- <iframe src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->

    {% endif %}
  </body>

  <!-- <script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
  // ]]></script> -->
<script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>  
{% endblock %}
</div>

