{% extends 'base.html' %}

{% block content %}
    
    <body class="home">
    

    <div class="text-box">
        <h1 >{% block title %} Hi, {{ display_name }}! {% endblock %}</h1>
        <p>Combining music and movies to create your personalized soundtrack.</p>
        <a href="" class="standard-btn">My Insights</a>
        <a href="/choose_movie" class="light-btn">Soundtrack Generator</a>
        <a href="/currently_playing" class="standard-btn">Current Mood</a>
    
    </div> 

    <!--Top Artists-->

    <section class="top-artists">
      <h1>Your Top Artists</h1>
      <p>Artists you've loved for a long time.</p>

      <div class="row">
        <div class="artist-col">
            <h3>#1</h3>
            <p>{{ top_artists[0] }}</p>
            <img src="{{ artist_imgs[0] }}" height="200" width="200">
        </div>
        <div class="artist-col">
            <h3>#2</h3>
            <p>{{ top_artists[1] }}</p>
            <img src="{{ artist_imgs[1] }}" height="200" width="200">
        </div>
        <div class="artist-col">
            <h3>#3</h3>
            <p>{{ top_artists[2] }}</p>
            <img src="{{ artist_imgs[2] }}" height="200" width="200">
        </div>
      </div>
    </section>

    <!--Top Tracks-->

    <section class="top-tracks">
        <h1>Your Top Tracks:</h1>
        <p>These tracks are always on repeat.</p>

        <div class="row">
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[0] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[0]}} <br> <span>{{top_track_artist_names[0]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[1] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[1]}} <br> <span>{{top_track_artist_names[1]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[2] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[2]}} <br> <span>{{top_track_artist_names[2]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[3] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[3]}} <br> <span>{{top_track_artist_names[3]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[4] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[4]}} <br> <span>{{top_track_artist_names[4]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[5] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[5]}} <br> <span>{{top_track_artist_names[5]}}</span></h3>
                    
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}