flask
flask_oauthlib
gunicorn
spotipy
Flask
Flask-Session
beautifulsoup4
python-dotenv~=0.15.0

lxml

lyricsgenius

langdetect
six~=1.15.0
numpy~=1.19.2
pandas
tensorflow-cpu==2.5.0
# seaborn
# keras
sklearn