.container {
    text-align: left;
    padding: 10px;
    font-family: "Circular Std", Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color:black;
}


a {
    font-family: "Circular Std", Arial;
    font-style: normal;
    font-weight: bold;
    text-decoration: none !important;
}
