*{
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', 'Poppins', sans-serif;
}

.home{
    background-color:rgb(28, 29, 65);
    z-index: -1;
}
.header{
    /* min-height: 100vh; */
    width: 100%;
    background-color: transparent;
    /* background-image: linear-gradient(90deg, #5C63FF,#A8BFFF);
    background-position: center;
    background-size: cover; */
    position: relative;
}
.logo{
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%; 
    height: 2px;
    background: rgba(92, 99, 255, 1);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 64px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.standard-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: #5C63FF;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.standard-btn:hover{
    background: #A8BFFF;
    transition: 0.75s;
}
.light-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: #A8BFFF;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.light-btn:hover{
    background: #5C63FF;
    transition: 0.75s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #A8BFFF;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px; /*hides menu*/
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* ---top-artists--- */

.top-artists{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-size: cover;
    position: relative;
    margin-top: 400px;
}
.top-artists h1{
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.top-artists p{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row p{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}

.artist-col{
    flex-basis: 30%;
    background: rgb(255, 255, 255, 0.15);
    border-radius: 50px;
    margin-bottom: 10%;
    padding: 20px 0 50px 0;
    box-sizing: border-box;
    transition: 0.5s;
}
.artist-col img{
    border-radius: 20px;
}

.artist-col:hover{
    box-shadow: 0 0 20px 0px rgba(92, 99, 255, 1);
}
.top-artists h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #fff;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* Top Tracks */
.top-tracks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.top-tracks h1{
    color: white;
}

.top-tracks p{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.top-tracks-col{
    flex-basis: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.top-tracks-col img{
    width: 100%;
    display: block;
}

.img-layer{
    background:rgba(92, 99, 255, 0.15);
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.img-layer:hover{
    background:rgba(92, 99, 255, 1);
}

.img-layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.img-layer:hover h3{
    bottom: 35%;
    opacity: 1;
}

.img-layer h3 span{
    font-size: 12px;
    font-weight: 300px;
    color: #A8BFFF;
}

/* Currently PLaying */

.currently-playing{
    display: flex;
    margin-top: 80px;
    z-index: 1;
}

.left-column, .right-column{
    flex-basis: 50%;
}
.right-column img{
    width: 100%;
    border-radius: 20px;
}

.left-column h1{
    font-size: 70px;
    color: whitesmoke;

}
.left-column h4{
    font-size: 30px;
    color:rgb(22, 25, 116);
}

.current h1, h4{
    color:rgb(22, 25, 116);
}
.lyrics{
    color: whitesmoke;
}

/* linear gradient background */
body {
	background: linear-gradient(-45deg, #5c63ff, #3b41c5, #A8BFFF, #ffc8a9);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
    background-repeat: no-repeat;
    /* background-color:rgb(28, 29, 65);
    z-index: -999; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Choose a Movie */

.choose-movie h1{
    color: white;
    font-size: 35px;
    font-weight: 500;
}

.select-movie label{
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.select-movie select{
    color:rgba(92, 99, 255, 1);
    padding: 5px 40px;
    display: inline;
    border-radius: 30px;
    position: relative;
    margin: 10px 15px;
    border-style: none;
}

.select-movie input{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 14px;
    background:rgba(92, 99, 255, 1);
    border-style: none;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}