{% extends 'base.html' %}

{% block content %}
<body>
  <div class=choose-movie>
    <h1>{% block title %} Soundtrack Generator {% endblock %}</h1>
    <h2>To start, select a movie: </h2>
  </div>
  <div class="select-movie">
    <form method="POST">
        <label for="movie_scene">Choose a scene:</label>
        <select name="movie_scene" id="movie_scene">
          {% for movie in movies %}
              <option value= "{{movie}}" SELECTED>{{movie}}</option>"
          {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    {% if chosen_movie is not none %}
    
    <iframe width="560" height="315" src="{{ chosen_movie['youtube_url'] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    {% endif %}
  </body>
{% endblock %}