{% extends 'base.html' %}

{% block content %}
<body>
    

<!-- <div class="text-box">
    <h1 > Currently Playing... </h1><br>
    <a href="" class="standard-btn">Scroll to See More</a>

</div>  -->

<div class="currently-playing">
    <div class="left-column">
        <h1>{% block title %} {{ song_title }} {% endblock %}</h1>
        <h4>{{ artist_name }}</h4>
    </div>
    <div class="right-column">
        <img src="{{ track['item']['album']['images'][0]['url'] }}">
    </div>

</div>
        
    {% if track is not none %} 

<section class="current">
    <h1>Lyrics</h1>
    <h4>Powered by Genuis Lyrics</h4>

    {% if lyrics is not none %}  
    <p class="lyrics">
        {{ lyrics }}
    </p>
    {% endif %}

    {% if classification is not none %}  
    <p class="classification">
        {{ classification }}
    </p>
    {% endif %}
</section>
{% endif %}


    
        
{% endblock %}
</body>