{% extends 'base.html' %}

{% block content %}
    <h1 class="subheading-gradient-text">{% block title %} Currently Playing {% endblock %}</h1>
    {% if track is not none %} 
    <img class="Currently-Playing-img" src="{{ track['item']['album']['images'][0]['url'] }}" width="300" height = "300" > 
        <a class= "track_info" href="#">
            <div class="track_name"> {{ song_title }} </div><div class="track_artist">{{ artist_name }} </div>
        </a>
        {% if lyrics is not none %}  
        <p class="lyrics">
            {{ lyrics }}
        </p>
        {% endif %}

        {% if classification is not none %}  
        <p class="classification">
            {{ classification }}
        </p>
        {% endif %}
    {% endif %}
{% endblock %}