{% extends 'base.html' %}

{% block content %}
    <h1 class= "gradient-text">{% block title %} Hi, {{ display_name }} {% endblock %}</h1>
    <span>
        <img class = "Top-Artist-1" src="{{url_for('static', filename='assets/Beatles.jpg')}}" alt = "Beatles">
        <img class = "Top-Artist-2" src="{{url_for('static', filename='assets/JM.jpg')}}" alt = "John Mayer">
        <img class = "Top-Artist-3" src="{{url_for('static', filename='assets/TS.jpg')}}"alt = "Taylor Swift">
    </span>
    <div class="Profile-Nav">
        <a href="#">
            <h2> MoodSpace Profile </h2>
        </a>
        <a href="#">
            <h2> Find a song </h2>
        </a>
        <a href="#">
            <h2> Recently Played </h2>
        </a>
        <a href="#">
            <h2> Soundtrack Generator </h2>
        </a>
    </div>

{% endblock %}