{% extends 'base.html' %}

{% block content %}
    
    <body class="home">
    

    <div class="text-box">
        <h1 >{% block title %} Hi, {{ display_name }}! {% endblock %}</h1>
        <p>Combining music and movies to create your personalized soundtrack.</p>
        <a href="" class="standard-btn">My Insights</a>
        <a href="/choose_movie" class="light-btn">Soundtrack Generator</a>
        <a href="/currently_playing" class="standard-btn">Current Mood</a>
    
    </div> 

    <!--Top Artists-->

    <section class="top-artists">
      <h1>Your Top Artists</h1>
      <p>Artists you've loved for a long time.</p>

      <div class="row">
        <div class="artist-col">
            <h3>#1</h3>
            <p>{{ top_artists[0] }}</p>
            <img src="{{ artist_imgs[0] }}" height="200" width="200">
        </div>
        <div class="artist-col">
            <h3>#2</h3>
            <p>{{ top_artists[1] }}</p>
            <img src="{{ artist_imgs[1] }}" height="200" width="200">
        </div>
        <div class="artist-col">
            <h3>#3</h3>
            <p>{{ top_artists[2] }}</p>
            <img src="{{ artist_imgs[2] }}" height="200" width="200">
        </div>
      </div>
    </section>

    <!--Top Tracks-->

    <section class="top-tracks">
        <h1>Your Top Tracks:</h1>
        <p>Your favorite tunes of all time.</p>

        <div class="row">
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[0] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[0]}} <br> <span>{{top_track_artist_names[0]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[1] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[1]}} <br> <span>{{top_track_artist_names[1]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[2] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[2]}} <br> <span>{{top_track_artist_names[2]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[3] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[3]}} <br> <span>{{top_track_artist_names[3]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[4] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[4]}} <br> <span>{{top_track_artist_names[4]}}</span></h3>
                </div>
            </div>
            <div class="top-tracks-col">
                <img src="{{ top_track_imgs[5] }}">
                <div class="img-layer">
                    <h3>{{top_track_names[5]}} <br> <span>{{top_track_artist_names[5]}}</span></h3>
                    
                </div>
            </div>
        </div>
    </section>
</body>

    <!-- <div class="container">
         
    <section class = "container-imgs">
        <img class = "Top-Artist-1" src="{{ artist_imgs[0] }}" alt = "Top Artist">
        <img class = "Top-Artist-2" src="{{ artist_imgs[1] }}" alt = "Top Artist 2">
        <img class = "Top-Artist-3" src="{{ artist_imgs[2] }}"alt = "Top Artist 3">
    </section>


    <div class="Profile-Nav">
        <a href="#">
            <h2> MoodSpace Profile </h2>
        </a>
        <a href="#">
            <h2> Find a song </h2>
        </a>
        <a href="#">
            <h2> Recently Played </h2>
        </a>
        <a href="#">
            <h2> Soundtrack Generator </h2>
        </a>
    </div>
</div>

    <div class="top_artists">
        <h1 class="gradient-text">Your Top Artists:</h1>
            <div class="subheading">
            <ol class="Artist1">
                <span>
                #1 {{ top_artists[0] }}
                </span>
                <img class = "Top-Artist-Img" src="{{ artist_imgs[0] }}" alt = "Top Artist 1">
            </ol>
            <div class="top-artists-container">
            <ol class="Artist2">
                <div class="not-top-artists"><span>#2 {{ top_artists[1] }}</span><span>#3 {{ top_artists[2] }}</span><span> #4 {{ top_artists[3] }}</span><span>#5 {{ top_artists[4] }}</span></div>
                <div class = "not-top-artists-images">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[1] }}" alt = "Top Artist 2">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[2] }}" alt = "Top Artist 3">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[3] }}"alt = "Top Artist 4">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[4] }}"alt = "Top Artist 5">
                </div>
            </ol>
            </div>

            </div>
    </div> -->
{% endblock %}