{% extends 'base.html' %}

{% block content %}
    <script src="app.js" type="ea4e4fe1daf3973affa24e43-text/javascript"></script>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale = 1.0">
        <title>Moodspace - Soundtrack Generator</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <section class="header">


        </section>




    </body>


    
    <h1 class= "gradient-text">{% block title %} Hi, {{ display_name }} {% endblock %}</h1>
<div class="container">
    <section class = "container-imgs">
        <img class = "Top-Artist-1" src="{{ artist_imgs[0] }}" alt = "Top Artist">
        <img class = "Top-Artist-2" src="{{ artist_imgs[1] }}" alt = "Top Artist 2">
        <img class = "Top-Artist-3" src="{{ artist_imgs[2] }}"alt = "Top Artist 3">
    </section>


    <div class="Profile-Nav">
        <a href="#">
            <h2> MoodSpace Profile </h2>
        </a>
        <a href="#">
            <h2> Find a song </h2>
        </a>
        <a href="#">
            <h2> Recently Played </h2>
        </a>
        <a href="#">
            <h2> Soundtrack Generator </h2>
        </a>
    </div>
</div>

    <div class="top_artists">
        <h1 class="gradient-text">Your Top Artists:</h1>
            <div class="subheading">
            <ol class="Artist1">
                <span>
                #1 {{ top_artists[0] }}
                </span>
                <img class = "Top-Artist-Img" src="{{ artist_imgs[0] }}" alt = "Top Artist 1">
            </ol>
            <div class="top-artists-container">
            <ol class="Artist2">
                <div class="not-top-artists"><span>#2 {{ top_artists[1] }}</span><span>#3 {{ top_artists[2] }}</span><span> #4 {{ top_artists[3] }}</span><span>#5 {{ top_artists[4] }}</span></div>
                <div class = "not-top-artists-images">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[1] }}" alt = "Top Artist 2">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[2] }}" alt = "Top Artist 3">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[3] }}"alt = "Top Artist 4">
                <img class = "Top-Artist-Img" src="{{ artist_imgs[4] }}"alt = "Top Artist 5">
                </div>
            </ol>
            </div>

            </div>
    </div>
{% endblock %}